<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>

    {% include "styles.html" %}


</head>

<body class="sidebar-mini layout-fixed control-sidebar-open" style="height: auto;">
    <div class="wrapper">

        <!-- Navbar -->
        {% include "navbar.html" %}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-info">
            <!-- Brand Logo -->
            <a href="#" class="brand-link navbar-info">
                <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light text-white">Mineral Water MS</span>
            </a>

            <!-- Sidebar -->
            {% include "sidebar.html" %}
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 725px;">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">New User</h1>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="container-fluid">
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">User Details</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>User Name</label>
                                                    <input type="text" class="form-control" placeholder=""
                                                        id="userName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input type="text" class="form-control" placeholder=""
                                                        id="fullName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>CNIC</label>
                                                    <input type="text" class="form-control" placeholder="" id="cnic">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" placeholder="" id="address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input type="password" class="form-control" placeholder=""
                                                        id="pass">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Phone</label>
                                                    <input type="text" class="form-control" placeholder="" id="phone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" placeholder="" id="email">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- text input -->
                                                <div class="form-group clearfix ">
                                                    <div class="icheck-primary d-inline">
                                                        <input type="checkbox" id="checkboxPrimary1" checked>
                                                        <label for="checkboxPrimary1">
                                                            Active
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="container-fluid">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-success float-right"
                                                        onclick="addnewUser();">
                                                        <i class="far fa-plus-square"></i>
                                                        &nbsp;&nbsp;Add User
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </section>
                        <!-- /.Left col -->
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->


            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <!-- Footer -->
        {% include "footer.html" %}
    </div>
    <!-- Logout Dialog -->
    {% include "modal_logout.html" %}


    <!--Functionality-->
    <script>
        const hashPassword = (pass) => {
            console.log(pass)
            let hashedPass = ""
            for (let i = 0; i < pass.length; i++) {
                hashedPass += pass[i].charCodeAt(0);
            }
            console.log(hashedPass)
            return hashedPass;
        }
        function addnewUser() {


            var username = document.getElementById('userName').value;
            var fullname = document.getElementById('fullName').value;
            var cnic = document.getElementById('cnic').value;
            var address = document.getElementById('address').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('pass').value;
            var phone = document.getElementById('phone').value;
            if (password.length >= 6) {
                let UserDetails =
                {
                    username: username,
                    fullName: fullname,
                    cnic: cnic,
                    address: address,
                    email: email,
                    password: hashPassword(password),
                    phone: phone,
                }
                console.log(UserDetails["username"]);
                console.log(UserDetails["fullName"]);
                console.log(UserDetails["cnic"]);
                console.log(UserDetails["address"]);
                console.log(UserDetails["email"]);
                console.log(UserDetails["password"]);
                console.log(UserDetails["phone"]);
                let xhttp = new XMLHttpRequest();
                xhttp.open("POST", '/addnewUser', true);
                xhttp.send(JSON.stringify(UserDetails))
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var response = xhttp.responseText;
                        var data = JSON.parse(response)
                        if (data == true) {
                            Swal.fire({
                                position: 'top-end',
                                type: ("success"),
                                text: "Data has been Successfully Added",
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                resetForm();
                            });

                        } else {
                            Swal.fire({
                                position: 'top-end',
                                type: ("warning"),
                                text: "Email Already Exists",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    }
                    else {
                        console.log('waiting for response 2');
                    }
                }
            }
            else {
                Swal.fire({
                    position: 'top-end',
                    type: ("warning"),
                    text: "Password must have 6 charachters atleast Please try again",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        }

        function resetForm() {
            document.getElementById('userName').value = '';
            document.getElementById('fullName').value = '';
            document.getElementById('cnic').value = '';
            document.getElementById('address').value = '';
            document.getElementById('email').value = '';
            document.getElementById('pass').value = '';
            document.getElementById('phone').value = '';
        }

    </script>


    <!--Common Js-->
    {% include "commonjs.html" %}

    <!-- page script -->

    <script>
        $(function () {
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });

        });
    </script>


    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2({
                theme: 'bootstrap4'
            })

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            });
        })
    </script>

    <script>
        var acdonutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'Completed',
                'Assigned',

            ],
            datasets: [
                {
                    data: [10, 5],
                    backgroundColor: ['#f56954', '#00a65a'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        var donutChart = new Chart(acdonutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })


    </script>

    <script>
        var ocdonutChartCanvas = $('#ocdonutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'Open',
                'Closed',
            ],
            datasets: [
                {
                    data: [5, 10],
                    backgroundColor: ['#C7D0E0', '#4A7AB2'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        var donutChart = new Chart(ocdonutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })

    </script>
    <script>

        var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d');
        var stackedBarChartData = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept',
                'Oct', 'Nov', 'Dec'
            ],
            datasets: [
                {
                    label: 'Sale',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: [28, 48, 40, 19, 86, 27, 90, 10, 20, 5]
                },
                {
                    label: 'Payment',
                    backgroundColor: 'rgba(210, 214, 222, 1)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40, 10, 11, 5]
                },
                {
                    label: 'Reciept',
                    backgroundColor: 'rgb(255, 193, 7)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40, 10, 20, 10]
                },
                {
                    label: 'Guest',
                    backgroundColor: 'rgb(220, 53, 69)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40, 10, 11, 5]
                }
            ],
        }
        var stackedBarChartOptions = {

            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }

        var stackedBarChart = new Chart(stackedBarChartCanvas, {
            type: 'bar',
            data: stackedBarChartData,
            options: stackedBarChartOptions
        })

    </script>
</body>

</html>