<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mineral Water MS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<style>
    #sideImage {
        float: right;
        margin-right: 170px;

    }
</style>

<body>
    <div id="formBack">
        <div id="login">
            <h2>Login</h2>
            <h4>Doesn't have an account yet? <a href="#" onclick="signUp()">Sign Up</a></h4>
            <form action="" onsubmit="event.preventDefault()">
                <div class="inputForms">
                    <label for="emailAddress">Email Address</label>
                    <input type="email" name="emailAddress" placeholder="you@example.com" id="emailAddress">
                </div>
                <div class="inputForms">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter 6 characters or more" id="password">
                </div>
                <button class="button" onclick="loginFunc()">LOGIN</button>
            </form>
            <div>
            </div>
        </div>
        <div id="signup" style="display: none;">
            <h2>Sign Up</h2>
            <h4>Already have an account? <a href="#" onclick="loginF()">Login Here</a></h4>
            <p id="errors"></p>
            <form action="/" onsubmit="event.preventDefault()">
                <div class="inputForms">
                    <label for="emailAddressUp">Email Address</label>
                    <input type="email" name="emailAddressUp" placeholder="you@example.com" id="emailAddressUp">
                </div>
                <div class="inputForms">
                    <label for="UserNameUp">Username</label>
                    <input type="text" name="UserNameUp" placeholder="Enter Username" id="UserNameUp">
                </div>
                <div class="inputForms">
                    <label for="fullNameUp">Full Name</label>
                    <input type="text" name="fullNameUp" placeholder="Enter your Full Name" id="fullNameUp">
                </div>
                <div class="inputForms">
                    <label for="CNICUp">CNIC</label>
                    <input type="text" name="CNICUp" placeholder="Enter your CNIC xxxxx-xxxxxxx-x" id="CNICUp">
                </div>
                <div class="inputForms">
                    <label for="PhoneUp">Phone</label>
                    <input type="text" name="PhoneUp" placeholder="Enter your Phone Number " id="PhoneUp">
                </div>
                <div class="inputForms">
                    <label for="AddressUp">Address</label>
                    <input type="text" name="AddressUp" placeholder="Enter your Address" id="AddressUp">
                </div>

                <div class="inputForms">
                    <label for="passwordUp">Password</label>
                    <input type="password" name="passwordUp" placeholder="Enter 6 characters or more" id="passwordUp">
                </div>
                <div class="inputForms">
                    <label for="confirmPasswordUp">Confirm Password</label>
                    <input type="password" name="confirmPasswordUp" placeholder="Enter your password again"
                        id="confirmPasswordUp">
                </div>
                <button class="button" onclick="signUpFormSubmit()">SIGN UP</button>
            </form>
            <div>
            </div>
        </div>
    </div>
    <div id="sideImage">
        <img src="static/images/logo.png" width="100px" height="500px" alt="Logo">
    </div>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>

</body>
<footer class="main-footer">
    Semester Project - <a href="https://pucit.edu.pk/" target="_blank">PUCIT</a>.
</footer>

</html>