<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    {% include "styles.html" %}


</head>

<body class="sidebar-mini layout-fixed control-sidebar-open" style="height: auto;"
    onload="displayTable(); setoptions();">
    <div class="wrapper">

        <!-- Navbar -->
        {% include "navbar.html" %}>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-info">
            <!-- Brand Logo -->
            <a href="#" class="brand-link navbar-info">
                <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light text-white">Mineral Water MS</span>
            </a>

            <!-- Sidebar -->
            {% include "sidebar.html" %}
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 725px;">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Products</h1>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder="Product Name"
                                            id="product-name">

                                        <select id="my-select" class="custom-select" name="" onchange="getOptions();">


                                        </select>
                                        <input type="text" class="form-control" placeholder="Rate" id="product-rate">
                                        <div class="icheck-primary d-inline ml-2">
                                            <input type="checkbox" id="checkboxPrimary1" checked>
                                            <label for="checkboxPrimary1">
                                            </label>
                                        </div>
                                        <span class="input-group-append" id="Addbtn">
                                            <button type="button" class="btn btn-info btn-flat"
                                                onclick="addProduct();">Add</button>
                                        </span>
                                        <span class="input-group-append" id="Updatebtn" style="display: none;">
                                            <button type="button" class="btn btn-info btn-flat"
                                                id="updatebutton">Update</button>
                                        </span>
                                    </div>
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-bordered table-striped ">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Product Name</th>
                                                <th>Size-ID</th>
                                                <th>Rate</th>
                                                <th>Active</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Footer -->
        {% include "footer.html" %}
    </div>
    <!-- Logout Dialog -->
    {% include "modal_logout.html" %}


    <!--Common Js-->
    {% include "commonjs.html" %}


    <script>
        function displayTable() {
            let xhttp = new XMLHttpRequest();
            xhttp.open("GET", '/getProducts');
            xhttp.send()
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var response1 = xhttp.responseText;

                    var data1 = JSON.parse(response1)
                    let count = data1[1];

                    var tbodyRef = document.getElementById('example1').getElementsByTagName('tbody')[0];
                    tbodyRef.innerHTML = " ";
                    for (var i = 0; i < count; i++) {
                        var newRow = tbodyRef.insertRow();
                        var newCell = newRow.insertCell();
                        var newText = document.createTextNode(data1[0][i]['p_id']);
                        newCell.appendChild(newText);
                        var newCell = newRow.insertCell();
                        var newText = document.createTextNode(data1[0][i]['name']);
                        newCell.appendChild(newText);
                        var newCell = newRow.insertCell();
                        var newText = document.createTextNode(data1[0][i]['s_id']);
                        newCell.appendChild(newText);
                        var newCell = newRow.insertCell();
                        var newText = document.createTextNode(data1[0][i]['rate']);
                        newCell.appendChild(newText);
                        var newCell = newRow.insertCell();
                        var block_to_insert = document.createElement('div');
                        block_to_insert.classList.add('icheck-primary', 'd-inline', 'ml-2');
                        var input = document.createElement("input");
                        input.setAttribute('type', 'checkbox');
                        input.checked = true;
                        input.setAttribute("disabled", true);
                        var tblblock = block_to_insert.appendChild(input);
                        newCell.appendChild(tblblock);

                        var newCell = newRow.insertCell();
                        var itag = document.createElement("i-" + i);
                        itag.setAttribute("class", "fas fa-edit");
                        itag.setAttribute("onclick", "editRow(" + data1[0][i]['p_id'] + ");");
                        newCell.appendChild(itag);

                        var newCell = newRow.insertCell();
                        var itag = document.createElement("i");
                        itag.setAttribute("class", "fa fa-trash");
                        itag.setAttribute("aria-hidden", "true");
                        itag.setAttribute("onclick", "deleteRow(" + data1[0][i]['p_id'] + ");");
                        newCell.appendChild(itag);
                    }
                    resetForm();    // Reset edit form.
                }
            }
        }
        function editRow(p_id) {
            console.log("hello check in edit row js func")
            var url = "/showProductRow";
            var params = "p_id=" + p_id;
            let xhttp = new XMLHttpRequest();

            xhttp.open("GET", url + "?" + params, true);
            xhttp.send();
            console.log('JS here');
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var response1 = xhttp.responseText;
                    var data1 = JSON.parse(response1);
                    console.log(data1)
                    document.getElementById("product-name").value = data1[0]['product_name'];
                    document.getElementById("product-rate").value = data1[0]['rate'];

                    var s_id = document.getElementById('my-select')

                    s_id.text = data1[0]['full_name'];
                    s_id.value = data1[0]['full_name'];


                    document.getElementById("Addbtn").style.display = 'none'
                    document.getElementById("Updatebtn").style.display = 'block';

                    console.log("i am in edit product row function");
                    var Updatebtn = document.getElementById("updatebutton");
                    console.log("heloo");
                    Updatebtn.setAttribute("onclick", "UpdateProductRow(" + p_id + ");");
                    console.log("heloo2");

                }
            }
        }
        function UpdateProductRow(p_id) {
            console.log("i am in update product row function")
            var params = "p_id=" + p_id;
            console.log(p_id)
            console.log(params)
            var productName = document.getElementById("product-name").value;
            var FullName = document.getElementById("my-select").value;
            var rate = document.getElementById("product-rate").value;

            var productDetailsForUpdate = {
                p_id: p_id,
                productName: productName,
                fullName: FullName,
                rate: rate,
            }
            console.log(productDetailsForUpdate)
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/updateProductRow', true);
            xhttp.send(JSON.stringify(productDetailsForUpdate))
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var response = xhttp.responseText;
                    var data = JSON.parse(response)
                    if (data == true) {
                        msg = 'Record sucessfully changed.';
                        Swal.fire({
                            position: 'top-end',
                            type: ("success"),
                            text: msg,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(function () {
                            location.reload();
                        });

                        document.getElementById("Addbtn").style.display = 'block'
                        document.getElementById("Updatebtn").style.display = 'none';
                        displayTable();
                    }
                }

            }

        }
        function deleteRow(recid) {
            var url = "/delProduct";
            var params = "recid=" + recid;
            let xhttp = new XMLHttpRequest();

            xhttp.open("GET", url + "?" + params, true);
            xhttp.send();
            console.log('JS here');
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var response1 = xhttp.responseText;
                    var data1 = JSON.parse(response1);
                    Swal.fire({
                        position: 'top-end',
                        type: (data1.includes("Error:") ? "error" : "success"),
                        text: data1,
                        showConfirmButton: false,
                        timer: 2000
                    }).then(function () {
                        displayTable();
                    });
                }
            }
        }

        function setoptions() {
            document.getElementById('my-select').innerHTML = ""
            var s_id = document.getElementById('my-select')
            myOption = document.createElement("option");
            myOption.text = "Choose size";
            myOption.value = " ";
            s_id.appendChild(myOption);
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/setOptions', true);
            xhttp.send();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var response1 = xhttp.responseText;
                    var data1 = JSON.parse(response1)
                    let count = data1[1];
                    for (var i = 0; i < count; i++) {
                        myOption = document.createElement("option");
                        myOption.text = data1[0][i]['full-name'];
                        myOption.value = data1[0][i]['full-name'];
                        s_id.appendChild(myOption);
                    }

                }
            }
        }
        let selected_product_size = document.getElementById('my-select');
        function getOptions() {
            selected_product_size = document.getElementById('my-select').value;
        }
        function addProduct() {
            var product_name = document.getElementById('product-name').value;
            var product_rate = document.getElementById('product-rate').value;
            let Product_Details = {
                Psize: selected_product_size,
                Pname: product_name,
                Prate: product_rate
            }
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", '/addProduct', true);
            xhttp.send(JSON.stringify(Product_Details))
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var response = xhttp.responseText;
                    var data = JSON.parse(response)
                    if (data == true) {
                        Swal.fire({
                            position: 'top-end',
                            type: ("success"),
                            text: "Record has been successfully Added.",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function () {
                            displayTable();
                        });
                    } else {
                        console.log('waiting for response');
                        Swal.fire({
                            position: 'top-end',
                            type: ("error"),
                            text: "Record cannot be Added.",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function () {
                            return;
                        });
                    }
                }

                else {
                    console.log('waiting for response 2');
                    Swal.fire({
                        position: 'top-end',
                        type: ("error"),
                        text: "Record cannot be Added.",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        return;
                    });
                }

            }
        }
        function resetForm() {

            document.getElementById('product-name').value = '';
            document.getElementById('product-rate').value = '';
        }
    </script>
    <!-- page script -->

    <script>
        $(function () {
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });

        });
    </script>


    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2({
                theme: 'bootstrap4'
            })

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            });
        })
    </script>

    <script>
        var acdonutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'Completed',
                'Assigned',

            ],
            datasets: [
                {
                    data: [10, 5],
                    backgroundColor: ['#f56954', '#00a65a'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        var donutChart = new Chart(acdonutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })


    </script>

    <script>
        var ocdonutChartCanvas = $('#ocdonutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'Open',
                'Closed',
            ],
            datasets: [
                {
                    data: [5, 10],
                    backgroundColor: ['#C7D0E0', '#4A7AB2'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        var donutChart = new Chart(ocdonutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })

    </script>
    <script>

        var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d');
        var stackedBarChartData = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept',
                'Oct', 'Nov', 'Dec'
            ],
            datasets: [
                {
                    label: 'Sale',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: [28, 48, 40, 19, 86, 27, 90, 10, 20, 5]
                },
                {
                    label: 'Payment',
                    backgroundColor: 'rgba(210, 214, 222, 1)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40, 10, 11, 5]
                },
                {
                    label: 'Reciept',
                    backgroundColor: 'rgb(255, 193, 7)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40, 10, 20, 10]
                },
                {
                    label: 'Guest',
                    backgroundColor: 'rgb(220, 53, 69)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40, 10, 11, 5]
                }
            ],
        }
        var stackedBarChartOptions = {

            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }

        var stackedBarChart = new Chart(stackedBarChartCanvas, {
            type: 'bar',
            data: stackedBarChartData,
            options: stackedBarChartOptions
        })

    </script>

</body>

</html>