<div
    class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
    <div class="os-resize-observer-host">
        <div class="os-resize-observer observed" style="left: 0px; right: auto;"></div>
    </div>
    <div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;">
        <div class="os-resize-observer observed"></div>
    </div>
    <div class="os-content-glue" style="margin: 0px -8px;"></div>
    <div class="os-padding">
        <div class="os-viewport os-viewport-native-scrollbars-invisible"
            style="overflow-y: scroll; right: 0px; bottom: 0px;">
            <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{{ url_for('static',filename='images/avatar5.png') }}" class="img-circle elevation-2"
                            alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Admin
                            <span class="float-right badge bg-success ml-4 mt-1">Online</span>
                        </a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
 with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open  pb-1">
                            <a href="/Dashboard" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open  pb-3">
                            <a href="/Schedule" class="nav-link active bg-orange">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Delivery Schedule
                                </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    MANAGEMENT
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Customer" class="nav-link">
                                        <i class="nav-icon fas fa-window-maximize"></i>
                                        <p>
                                            Customers
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/orders" class="nav-link">
                                        <i class="nav-icon fas fa-window-maximize"></i>
                                        <p>
                                            Orders
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/new_orders" class="nav-link">
                                        <i class="nav-icon fas fa-list-alt"></i>
                                        <p>
                                            New / Assigned Orders
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="/delivered_orders" class="nav-link">
                                        <i class="nav-icon fas fa-list-alt"></i>
                                        <p>
                                            Delivered Orders
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item user-panel">
                                    <a href="/cancelled_orders" class="nav-link">
                                        <i class="nav-icon fas fa-list-alt"></i>
                                        <p>
                                            Cancelled Orders
                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-dollar-sign"></i>
                                <p>
                                    ACCOUNTING
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/ac_bills" class="nav-link">
                                        <i class="nav-icon fas fa-window-maximize"></i>
                                        <p>
                                            Bills
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/ac_receipts" class="nav-link">
                                        <i class="nav-icon fas fa-window-maximize"></i>
                                        <p>
                                            Receipts
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/ac_payments" class="nav-link">
                                        <i class="nav-icon fas fa-window-maximize"></i>
                                        <p>
                                            Payments
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/rpt_Receive_Stock" class="nav-link">
                                        <i class="nav-icon fas fa-window-maximize"></i>
                                        <p>
                                            Stock In
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/stockOnHand" class="nav-link">
                                        <i class="nav-icon fas fa-list-alt"></i>
                                        <p>
                                            Stock On Hand
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/rpt_salesSummary" class="nav-link">
                                        <i class="nav-icon fas fa-list-alt"></i>
                                        <p>
                                            Sales Summary
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="/rpt_receiptsSummary" class="nav-link">
                                        <i class="nav-icon fas fa-list-alt"></i>
                                        <p>
                                            Receipts Summary
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="/rpt_paymentSummary" class="nav-link">
                                        <i class="nav-icon fas fa-list-alt"></i>
                                        <p>
                                            Payment Summary
                                        </p>
                                    </a>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-lock-open"></i>
                                <p>
                                    ADMINISTRATION
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/product" class="nav-link">
                                        <i class="fab fa-buromobelexperte nav-icon"></i>
                                        <p>
                                            Product
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/am_Size" class="nav-link">
                                        <i class="fab fa-buromobelexperte nav-icon"></i>
                                        <p>
                                            Size
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/am_chargeCodes" class="nav-link">
                                        <i class="fab fa-buromobelexperte nav-icon"></i>
                                        <p>
                                            Charge Codes
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/am_users" class="nav-link">
                                        <i class="fas fa-user-cog nav-icon"></i>
                                        <p>
                                            Users
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="/am_roles" class="nav-link">
                                        <i class="nav-icon fas fa-tags"></i>
                                        <p>
                                            Roles
                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item has-treeview ">
                            <a href="/logout" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    LOGOUT
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
        </div>
    </div>
    <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
        <div class="os-scrollbar-track">
            <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
        </div>
    </div>
    <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
        <div class="os-scrollbar-track">
            <div class="os-scrollbar-handle" style="height: 73.8117%; transform: translate(0px, 0px);">
            </div>
        </div>
    </div>
    <div class="os-scrollbar-corner"></div>
</div>